:root{
    --main-color:#e2762dcc;
    --btn-color:#092a2c;
    --icon-hover-color: #e2762dcc;
    --icon-color: #554708;
    --heading-main-color:#ffffff;
    --heading-intro-color: #092a2c;

}
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.contact form {
    padding: 3rem;
    background: #f6fbf6;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.contact form h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--main-color);
}

.contact form span {
    display: block;
    padding-bottom: 1rem;
    color: #779;
    font-size: 1.6rem;
}

.contact form .box {
    width: 100%;
    background: none;
    border-bottom: 0.1rem solid var(--main-color);
    font-size: 1.6rem;
    color: var(--main-color);
    text-transform: none;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.contact form textarea {
    height: 15rem;
    resize: none;
}

.contact .map {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    width: 100%;
}
